a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  color: #007780;
  text-decoration: none;
}

.unique-h4 {
  color: var(--main-color);
  font-size: 20px;
  font-family: "Playfair Display", Georgia, serif;
  padding-bottom: 8px;
}

.d-table {
  width: 100%;
  height: 100%;
}

/* .section-padding {
  padding: 100px 0;
} */

/*::::::::::::::::::::::::::::::::::::
    Preloader
::::::::::::::::::::::::::::::::::::*/

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.single-featured-item {
  padding: 15px;
  margin-bottom: 30px;
}

.single-featured-item-wrap {
  background-color: #fff;
  box-shadow: 0 0 10px #eee;
}

.single-featured-item-wrap h3 a {
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  color: #000;
  display: block;
  position: relative;
  z-index: 1;
}

.single-featured-item-wrap:hover a:after {
  height: 100%;
}

.single-featured-item-wrap h3 a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  background-color: #000;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fact-counter:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.single-fun-fact {
  border: 2px solid #007780;
  padding: 16px;
  margin-bottom: 28px;
}

.single-fun-fact h2 {
  line-height: 1;
  color: #007780;
}

/* .single-fun-fact h2 span {
  margin-right: 6px;
} */

.single-fun-fact p {
  color: #034f55;
  position: relative;
  margin-top: 28px;
}
/* dwdwd */

.single-fun-fact p:after {
  position: absolute;
  content: "";
  left: 50%;
  top: -15px;
  width: 60px;
  margin-left: -30px;
  height: 2px;
  background-color: #d3391d;
}


/*::::::::::::::::::::::::::::::::::::
   Service Section
::::::::::::::::::::::::::::::::::::*/

.service-area {
  position: relative;
  z-index: 2;
}

.service-area .section-title h2:before {
  background-color: #800000;
}
/* 
.service-area:before {
    background-color: #ffffff;
    position: absolute;
    content: '';
    width: 100%;
    height: 65%;
    left: 0;
    top: 0;
} */

.service-area.service-page:before {
  height: 100%;
}

.single-service {
  background-color: #fff;
  padding: 15px;
  border: 2px solid #007780;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  height: 530px;
}

.single-service h2,
.single-service p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-service:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #007780;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-service:hover h2,
.single-service:hover p {
  color: #fff;
}

.single-service:hover:after {
  height: 100%;
}

.service-icon {
  font-size: 50px;
  color: #aaa;
}

/*::::::::::::::::::::::::::::::::::::
   Why choose Me Section
::::::::::::::::::::::::::::::::::::*/

.single-why-me {
  position: relative;
  padding-right: 115px;
  text-align: right;
  margin-bottom: 30px;
}

.d-table-cell {
  vertical-align: middle;
  padding-top: 0.8em;
}

.single-why-me:hover .why-me-icon {
  background-color: #007780;
  color: #ffffff;
}

.why-me-right .why-me-icon,
.why-me-left .why-me-icon {
  color: #fff;
  position: absolute;
  font-size: 40px;
  width: 100px;
  height: 100%;
  /* border: 1px solid #007780; */
  text-align: center;
  line-height: 1;
  right: 0;
  bottom: 0;
  display: inline-block;
  background-color: #3babbd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-why-me.why-me-right {
  text-align: left;
  padding-right: 0;
  padding-left: 115px;
}

.why-me-right .why-me-icon {
  right: auto;
  left: 0;
}

/*::::::::::::::::::::::::::::::::::::
   Sidebar
::::::::::::::::::::::::::::::::::::*/


/*Comments CSS*/

.blog-comment h3 {
  margin-bottom: 30px;
  font-size: 24px;
}

.blog-comment ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog-comment ol li {
  position: relative;
}

.blog-comment ol li ol {
  margin-left: 75px;
}

.comment-user-img {
  width: 80px;
  height: 80px;
  background-color: #ddd;
  background-position: center top;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
}

.comment {
  display: block;
  padding: 30px 0;
  margin: 30px 0;
}

.comment-content {
  padding-left: 95px;
}

.comment-content h4 {
  font-weight: 400;
  line-height: 1;
}

p.comment-date {
  font-style: italic;
  color: #aaa;
  font-size: 15px;
}

.comment-content a {
  padding: 5px 15px;
  display: inline-block;
  color: #fff;
  background-color: #aaa;
  font-size: 14px;
  margin-top: 15px;
}

.comment-content a i.fa {
  margin-right: 10px;
}

.comment-content a:hover {
  background-color: #000;
}

h1 {
  font-size: 2.5em;
  color: #007780;
  margin-bottom: 40px;
  text-align: center;
}

.process-step {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #007780;
  border-radius: 5px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.step-number {
  background-color: #007780;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 0 20px;
}

.step-content h2 {
  font-size: 1.5em;
  color: #034f55;
  margin: 4px;
}

.step-content-right h2 {
  font-size: 1.5em;
  color: #007780;
  margin: 0;
  text-align: end;
}

.step-content p {
  font-size: 1em;
  color: #007780;
  margin: 10px 0 0;
}

/* Default styles - large screens */
.image-regular {
  display: block;
  width: 100%;
  height: auto;
}

.image-responsive {
  display: none;
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .image-regular {
    display: none;
  }

  .image-responsive {
    display: block;
    width: 100%;
    height: auto;
  }
}
